*{
    margin: 0px;
}

.discord{
    width: 85.4rem;
    height: 41.7em;
    position: absolute;
}
.social{
    z-index: 2;
    width: 17vw;
    height: auto;
    margin-top: 36vw;
    margin-left: 84vh;
    position: absolute;
}

.social:hover{
    transform: scale(1.1);
}
